.cache
.dap-breakpoints
.extension
.git
.gitignore
.lsp-session-v1
auto-save-list
bookmarks
codeium
config.el
elpa
elpaca
eshell
games
projectile-bookmarks.eld
recentf
sessions
tldr
tramp
transient
tree-sitter
url
